@tailwind base;
@tailwind components;
@tailwind utilities;



@layer components {
    
    .main-color {
        color: #4A90E2;
    }

    #cv-info {
        @apply
        grid 
        grid-cols-2
        md:grid-cols-3
        xl:grid-flow-col 
        2xl:grid-flow-col
        place-content-around
        w-8/12

        tracking-tight
        text-sm
    }

    #cv-info > div {
        @apply
        pl-3
    }


    #cv-body {
        @apply
        w-full
        flex
        flex-col
        sm:flex-col
        md:flex-col
        lg:flex-row
        xl:flex-row
        2xl:flex-row
    }

    .cv-body-left
    {
        @apply
        w-full
        sm:w-full
        md:w-full
        lg:w-2/3
        xl:w-2/3
        2xl:w-2/3
        h-full
    }

    .cv-body-right {
        @apply
        w-full
        sm:w-full
        md:w-full
        lg:w-2/3
        xl:w-2/3
        2xl:w-2/3
        h-full
    }

    .cv-section {
        @apply
        w-full p-4
    }

    .cv-section-title {
        border-bottom: 2px solid #afb4b5;
        width: 100%;
        display: block;
        @apply
        uppercase
        leading-10
        font-semibold
    }
    
    .cv-label {
        @apply
        leading-6
        pt-4
        font-semibold
    }

    .cv-sublabel {
        @apply
        main-color
        text-sm
    }


    /* SVG sections */
    .svg-icon {
        width: 1.2em;
        height: 1.2em;
      }
      
      .svg-icon path,
      .svg-icon polygon,
      .svg-icon rect {
        fill: #4691f6;
      }
      
      .svg-icon circle {
        stroke: #4691f6;
        stroke-width: 1;
      }

  }