@tailwind base;
@tailwind components;
@tailwind utilities;



@layer components {
    
    .main-color {
        color: #4A90E2;
    }

    #cv-info {
        @apply
        2xl:inline-flex
        xl:inline-flex
        lg:inline-flex
        md:grid
        md:grid-cols-3
        sm:grid
        sm:grid-cols-2
        grid
        grid-cols-1
        gap-4
        w-screen
        tracking-tight
        text-sm
    }

    #cv-info > div {
        @apply
        pl-2
    }


    #cv-body {
        @apply
        w-full
        flex
        flex-col
        sm:flex-col
        md:flex-col
        lg:flex-row
        xl:flex-row
        2xl:flex-row
    }

    .cv-body-left
    {
        @apply
        w-full
        sm:w-full
        md:w-full
        lg:w-1/2
        xl:w-1/2
        2xl:w-5/12
        h-full
    }

    .cv-body-right {
        @apply
        w-full
        sm:w-full
        md:w-full
        lg:w-1/2
        xl:w-1/2
        2xl:w-5/12
        h-full
    }

    .cv-section {
        @apply
        w-full p-4
    }

    .cv-section-title {
        border-bottom: 2px solid #afb4b5;
        width: 100%;
        display: block;
        @apply
        uppercase
        leading-10
        font-semibold
    }
    
    .cv-label {
        @apply
        leading-6
        pt-4
        font-semibold
    }

    .cv-sublabel {
        @apply
        main-color
        text-sm
    }


    .cv-start-end-date {
        @apply
        block md:inline-flex xl:inline-flex 2xl:inline-flex justify-end text-sm leading-6 pt-4 text-right gap-x-1 tracking-tighter
    }


    /* SVG sections */
    .svg-icon {
        width: 1.2em;
        height: 1.2em;
      }
      
      .svg-icon path,
      .svg-icon polygon,
      .svg-icon rect {
        fill: #4691f6;
      }
      
      .svg-icon circle {
        stroke: #4691f6;
        stroke-width: 1;
      }

  }